@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  font-family: 'Lato';
  font-size: 28px;
  background-color: #6A6958;
  color: #C8C7B1;
}

h1 {
  font-size: 75px;
  font-weight: 900;
  color: #AAA88E;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  color: #CBC574;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  color: #CBC574;
}

.content {
  max-width: 640px;
  margin: 20px auto;
}

pre {
  background-color: #8B8A73;
  padding: 0 30px;
}

[contenteditable] {
  outline-color: #CBC574;
}